body{
    margin-left: 5%;
    margin-right: 5%;
}
h3{
    color:orange;  
}
#update{
    display:none;
}
table{
    margin-left: 10%;
    margin-right:10%;
    width : 70%;
}
table td{
    border: 1px solid green;
    padding:10px;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table td:hover{
    background-color: gray;
}
input{
    width:150px;
    height:20px;
    border:1px solid blue;
}
table td button{
 width:60px;
    height:20px;
    border:1px solid orange;
    color:red;
}